#about{
  background-color: black;
  
}
#about .content h2 {
  text-align: center;
  background-color: #bb1d6c;
  font-size: 40px;
  font-weight: 700;
}
#about .about-container {
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  align-content: center;
  font-weight: 700;
  color: rgb(190, 211, 230);
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-justify: newspaper;
  background-color: rgb(17, 39, 48);
  /* padding:10px, 10px;  */
}

@media screen and (min-width: 768px) {
  #about .about-container {
    display: block;
            justify-content: space-between;
  }
}
            #about .about-container-left {
  -ms-flex-preferred-size: 50%; 
}
#about .about-container-right {
  background-color:rgb(17, 39, 48 );
  display: block;
  align-self: center;
}
#about .about-container-right img {
  width: 300px;
  border: 10px;
  border-radius: 10px;
  align-self: center; 
}
@media screen and (min-width: 1200px) {
  #about .about-container-right img {
        align-self:center;
  }
}
.paint{
  color: gold;
}
.btn{
  background-color:rgb(189, 47, 94);
  border:none;
  border-radius: 5px;
  color: white;
  padding : 5px,100px;
  font-size: 30px;
  margin-bottom:20px;
}
.btn:hover{
  background-color: black;
  color: rgb(135, 93, 212);
  font-size: 30px;
  transition: 0.5s;
}